    .box {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1;
      -webkit-flex: 1 0 100%;
          -ms-flex: 1 0 100%;
              flex: 1 0 100%;
      margin-bottom: 20px;
      background: #f9f9f9;
    }
    .box__title {
      font-family: "Montserrat", sans-serif;
    }
    .box__more {
      color: #ff4e5c;
    }
    .box__content {
      color: #454545;
      text-align: center;
      padding: 20px;
    }
    .box__content:hover .box__more {
      color: #ff1545;
    }

    .section {
      padding: 60px 0;
    }

    .section__title {
      font-size: 24px;
      color: #3b3b58;
      text-align: center;
      font-family: "Montserrat", sans-serif;
      margin: 14px 0;
    }
    .section__intro {
      display: block;
      text-align: center;
      margin: 0 5% 30px;
    }
    .section__grid {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
    }

    @media only screen and (min-width: 43.75em) {
      .box {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 30%;
            -ms-flex: 0 0 30%;
                flex: 0 0 30%;
      }
    }
  header {
  text-align: center;
  position: relative;
  height: auto;
  padding-bottom: 80px;
  background: #4f2f60 url("images/header.jpg") center top no-repeat;
  background-size: cover;
  color: #fff;
  overflow: hidden;
}
header h1 {
  margin: 50px 0 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
}
header h1 span {
  font: 700 60px/1 "Dancing Script", cursive;
  display: block;
}
header h2 {
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
  font-weight: 400;
  padding: 20px;
}
